.table-container {
  background: #2d3e3f;
  height: 1200px;
}

.table {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  overflow: hidden;
  color: white;
}

.title-container {
}

.table-title {
  display: flex;
  text-align: left;
  color: white;
  margin: 0 0 0 100px;
  padding-top: 60px;
}

.table-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid black;
}

.table-cell {
  flex: 1;
}

.table-name {
  margin-left: 100px;
  flex: 2;
}

.policyholder-margin {
}

.hidden {
  display: none;
}

.names-nav:hover {
  cursor: pointer;
  opacity: 0.8;
  text-decoration: underline white;
}

/* butttons */

.new-policyholder {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  align-items: center;
  justify-content: center;
  margin: 20px auto 20px auto;
  padding: 10px 15px 10px 15px;
  text-transform: uppercase;
  background: #a2ff00;
  color: black;
  cursor: pointer;
}

.new-policyholder:hover {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  margin: 20px auto 20px auto;
  padding: 10px 15px 10px 15px;
  text-transform: uppercase;
  background: #a2ff00;
  color: black;
  cursor: pointer;
  opacity: 0.8;
}

.new-policyholder:active {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  margin: 20px auto 20px auto;
  padding: 10px 15px 10px 15px;
  text-transform: uppercase;
  background: #a2ff00;
  color: black;
  cursor: pointer;
  opacity: 0.8;
  transform: scale(0.96);
}

.btn-editovat,
.btn-odstranit {
  text-transform: uppercase;
  padding: 5px 10px 5px 10px;
  cursor: pointer;
}

.btn-editovat {
  background: #ffff00;
}

.btn-odstranit {
  background: #d11a2a;
}

.btn-editovat:hover,
.btn-odstranit:hover {
  text-transform: uppercase;
  padding: 5px 10px 5px 10px;
  cursor: pointer;

  opacity: 0.8;
}

.btn-editovat:active,
.btn-odstranit:active {
  text-transform: uppercase;
  padding: 5px 10px 5px 10px;
  cursor: pointer;
  transform: scale(0.96);
}

.disabled {
  cursor: none;
}

.disabled:hover,
.disabled:active,
.disabled:focus {
  cursor: default;
  opacity: 0;
}

/* pagination */

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.pagination-item {
  background-color: #2d3e3f;
  color: white;
  border: 1px solid #fff;
  padding: 5px 10px;
  margin: 0 5px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.pagination-item:hover {
  background-color: #fff;
  color: #2d3e3f;
}

.pagination-item.active {
  background-color: #fff;
  color: #2d3e3f;
  cursor: default;
}

.pagination-item.disabled {
  opacity: 0.5;
  cursor: default;
}

/* Pojištěnci */

.policyholder-form {
  max-width: 400px;
  margin: 0 auto;
  height: 680px;

  padding: 20px 30px 20px 30px;
  background-color: #f4f4f4;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0px 0px 5px 0px #ddd;
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

.form-group input,
.form-group select {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 16px;
}

.form-group select {
  height: 40px;
}

/* buttony */

button[type="submit"] {
  display: inline-block;
  padding: 10px 20px;
  background-color: #3498db;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button[type="submit"]:hover {
  background-color: #258cd1;
}

.btn-add-insurance-person {
  display: inline-block;
  padding: 10px 20px;
  background-color: #3498db;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.btn-add-insurance-person:active {
  display: inline-block;
  padding: 10px 20px;
  background-color: #3498db;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transform: scale(0.96);
}

/* pojistenci.css */

.policyholder-details {
  background-color: #f0f0f0;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-top: 10px;
}

.policyholder-details h3 {
  font-size: 18px;
  margin-bottom: 10px;
}

.policyholder-details p {
  font-size: 16px;
  margin-bottom: 5px;
}

.policyholder-details button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
}

.policyholder-details button:hover {
  background-color: #0056b3;
}

/* pojistenci.css */

/* Styling for the policyholder edit form */
.policyholder-edit {
  background-color: #f0f0f0;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin: 20px 0;
}

.policyholder-edit h3 {
  font-size: 18px;
  margin-bottom: 10px;
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.form-group input[type="text"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

.btn-save {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 16px;
  margin-right: 10px;
}

.btn-save:hover {
  background-color: #0056b3;
}

.btn-cancel {
  background-color: #ccc;
  color: #000;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 16px;
}

.btn-cancel:hover {
  background-color: #999;
}
